<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
  {{ partial "head.html" . }}
  
  <body>
    {{ if .IsHome }}
    {{ "<!-- header -->" | safeHTML }}
    <header class="banner {{if .Site.Params.banner.bg_image}}overlay bg-cover{{else}}bg-primary{{end}}" data-background="{{ .Site.Params.banner.bg_image | absURL }}">
      {{ partial "navigation.html" . }}
      {{ partial "banner.html" . }}
    </header>
    {{ "<!-- /header -->" | safeHTML }}
    {{ else }}
    {{ "<!-- header -->" | safeHTML }}
    <header class="shadow-bottom sticky-top bg-white">
      {{ partial "navigation.html" . }}
    </header>
    {{ "<!-- /header -->" | safeHTML }}
    {{ end }}
    <div class="alert alert-warning text-center m-0">
      You are viewing the now-deprecated version of Symbiota Docs. For the new version, visit:
      <a href="https://docs.symbiota.org/docs/about" >https://docs.symbiota.org/docs/about</a>.
    </div>
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
  </body>

</html>