/* Adds padding on top of items with anchors
* so that the sticky menu doesn't hide items
 */
html {
  scroll-padding-top: 4rem;
}

.btn-sm {
  color: white !important;
  font-size: 12px;
  padding: 6px 12px 6px 12px;  
}

.post-meta-wrapper {
  margin-top: 80px;
}

img {
  max-width: 100%;
  height: auto;
}

.section p > a, section .card-link > a, section .card-body > a, .content p > a, .content li > a {
  color: #007bff;
}

#search-results li {
 margin-bottom: 2em;
}
