<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
  {{ partial "head.html" . }}
  
  <body class="container ">
    <main class="mx-auto">
      <section class="mx-auto" style="width: 100%; max-width: 420px; padding: 15px; margin: auto;">
        <h1 class="text-center">Symbiota Docs</h1>
        <h3 class="text-center">Growing archive of documentation/help files for Symbiota software</h3>
        <h2 class="text-center">Coming Soon</h2>
        <h4 class="text-center">Sign up to get notified about Symbiota Docs official launch and updates</h4>
      </section>
      <section class="mx-auto">
        <form action="https://docs.google.com/forms/u/2/d/e/1FAIpQLScl0xVmAFaFh9X1ujfYbFMWSS-cmcEVcAx9Cf67W5jjWhbRZQ/formResponse" id="mG61Hd" style="width: 100%; max-width: 420px; padding: 15px; margin: auto;">
          <div class="mb-3">
            <label for="first" class="form-label">First Name</label>
            <input type="text" class="form-control" name="entry.273823564" id="first">
          </div>
          <div class="mb-3">
            <label for="last" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="entry.862920500" id="last">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address (Required)</label>
            <input type="email" class="form-control" name="entry.521721372" id="email" required=true>
          </div>
          <button type="submit" class="btn btn-primary col col-sm">Submit</button>
        </form>
      </section>
    </main>
    
  </body>

</html>