{{ "<!-- details page -->" | safeHTML }}
<section class="single section-sm pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="sidebar">
          <ul class="list-styled">
            {{ $currentNode := . }}
            <a class="back-btn" href="{{ .Site.BaseURL | relLangURL }}"></a>
            {{range .Site.Home.Sections.ByWeight}}
              {{ if eq .FirstSection $currentNode.FirstSection }}
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode}}
              {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="p-lg-5 p-4 bg-white">
          <h2 class="mb-5">{{ .Title }}</h2>
          {{ if .Content }}
          <div class="content mb-6">{{.Content}}</div>
          {{ else }}
          <div class="bg-light p-4">
            <ul class="page-list">
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
            </ul>
          </div>
          {{ end }}
          <div class="post-meta-wrapper border-top border-bottom">      
          {{ $editOnGH := urlize .File.Path }}
          <p class="pb-3 pt-3 float-right"><a class="btn btn-sm btn-info" href='{{ .Site.Params.EditURL }}{{ replace $editOnGH "%5C" "/" }}' target="_blank" rel="noopener noreferrer">{{ i18n "edit_github" }}</a></p>
          <p class="post-meta pb-3 mt-3 mb-0">{{ if .Params.authors }}{{ i18n "content_by" }} {{ delimit .Params.authors ", " " & " }}{{ else }}{{ i18n "content_by" }} Symbiota Support Hub{{ end }}.{{ if .Params.editors }} {{ i18n "reviewed_by" }} {{ delimit .Params.editors ", " " & " }}.{{ end }}{{ if .Params.translators }} {{ i18n "translated_by" }} {{ delimit .Params.translators ", " " & " }}.{{ end }}</p>
          <p class="post-meta pb-3 mb-0">{{ i18n "created_on" }} {{ .Date.Format "02 Jan 2006" }}{{ if ne .Lastmod .Date }}, {{ i18n "edited_on"}} {{ .Lastmod.Format "02 Jan 2006" }}{{ end }}.</p>
          </div>
          <div class="citation-div mt-3 pl-3 border-bottom">
            <h6>{{ i18n "cite_page" }}:</h6>
            <p>{{ if .Params.authors }}{{ delimit .Params.authors ", " }}{{ else }}Symbiota Support Hub{{ end }}{{ if .Params.editors }}, ed: {{ delimit .Params.editors ", " }}{{ end }}{{ if .Params.translators }}, trad: {{ delimit .Params.translators ", " }}{{ end }}. <span class="font-weight-bold">{{ .Page.Title }}</span>. <span class="font-italic">In</span>: Symbiota Support Hub (2021). <span class="font-weight-bold">Symbiota Documentation</span>. <a href="{{ .Permalink }}">{{ .Permalink }}</a>. {{ i18n "created_on" }} {{ .Date.Format "02 Jan 2006" }}{{ if ne .Lastmod .Date }}, {{ i18n "edited_on" }} {{ .Lastmod.Format "02 Jan 2006" }}{{ end }}.</p>
          </div>
          <nav class="pagination mt-3">
            <!-- Next prev page -->
            {{ $currentNode := . }}
            {{ template "menu-nextprev" dict "menu" .Site.Home "currentnode" $currentNode }}
            {{ define "menu-nextprev" }}
            {{$currentNode := .currentnode }}
            {{ if ne .menu.Params.hidden true}}
            {{if hasPrefix $currentNode.Permalink .menu.Permalink }}
            {{ $currentNode.Scratch.Set "NextPageOK" "OK" }}
            {{ $currentNode.Scratch.Set "prevPage" ($currentNode.Scratch.Get "prevPageTmp") }}
            {{else}}
            {{if eq ($currentNode.Scratch.Get "NextPageOK") "OK"}}
            {{ $currentNode.Scratch.Set "NextPageOK" nil }}
            {{ $currentNode.Scratch.Set "nextPage" .menu }}
            {{end}}
            {{end}}
            {{ $currentNode.Scratch.Set "prevPageTmp" .menu }}

            {{ $currentNode.Scratch.Set "pages" .menu.Pages }}
            {{ if .menu.IsHome}}
            {{ $currentNode.Scratch.Set "pages" .menu.Sections }}
            {{ else if .menu.Sections}}
            {{ $currentNode.Scratch.Set "pages" (.menu.Pages | union .menu.Sections) }}
            {{end}}
            {{ $pages := ($currentNode.Scratch.Get "pages") }}

            {{ range $pages.ByWeight  }}
            {{ template "menu-nextprev" dict "menu" . "currentnode" $currentNode }}
            {{end}}
            {{ end }}
            {{ end }}

            {{with ($.Scratch.Get "prevPage")}}
            <a class="nav nav-prev" href="{{.Permalink }}"><i class="ti-arrow-left mr-2"></i> <span class="d-none d-md-block">{{.Title}}</span></a>
            {{end}}
            {{with ($.Scratch.Get "nextPage")}}
            <a class="nav nav-next" href="{{.Permalink }}"> <span class="d-none d-md-block">{{.Title}}</span><i class="ti-arrow-right ml-2"></i></a>
            {{end}}
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /details page -->" | safeHTML }}

<!-- templates -->
{{ define "section-tree-nav" }}
{{ $showvisitedlinks := .showvisitedlinks }}
{{ $currentNode := .currentnode }}
{{with .sect}}
{{safeHTML .Params.head}}
{{ $fileUniqueID := "" }}
{{ with .File }}{{ $fileUniqueID = .UniqueID }}{{ end }}
{{ $currentNodeFileUniqueID := "" }}
{{ with $currentNode.File }}{{ $currentNodeFileUniqueID = .UniqueID }}{{ end }}
<li data-nav-id="{{.Permalink}}" title="{{.Title}}" class="sidelist
  {{if eq $fileUniqueID $currentNodeFileUniqueID}}active{{end}}">
  <a href="{{.Permalink}}">
    {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}
  </a>
  {{ $numberOfPages := (add (len .Pages) (len .Sections)) }}
  {{ if ne $numberOfPages 0 }}
    <ul>
      {{ range .Pages.ByWeight }}
        {{ if and .Params.hidden (not $.showhidden) }}
        {{else}}
          {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
        {{end}}
      {{end}}
    </ul>
  {{ end }}
</li>
{{ end }}
{{ end }}